# PROYECTO FINAL - modificación de columnas

In [107]:
# Tratamiento de datos
import numpy as np
import pandas as pd
#import sidetable as stb

# Gráficos
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns
import sidetable as stb

# Asunciones y Preprocesamiento
from scipy import stats
import math
from scipy.stats import levene
#import researchpy as rp
from sklearn.preprocessing import StandardScaler
import itertools
from statsmodels.tools.tools import add_constant
from statsmodels.stats.outliers_influence import variance_inflation_factor

# ANOVA
import statsmodels.api as sm
from statsmodels.formula.api import ols
import researchpy as rp # chi square

#Linear Regresion con Sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

# Configuración warnings
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = False

In [108]:
df_bike = pd.read_csv("./bikes_visualizacion_parte_1.csv", index_col=0)
df_bike.sample(6)

     instant      dteday  season  yr  ...  windspeed  casual  registered   cnt
694      695  26-11-2019  winter   1  ...   3.125550     337        4750  5087
284      285  12-10-2018  winter   0  ...  16.626050     217        2199  2416
716      717  18-12-2019  winter   1  ...  14.834068     433        5124  5557
560      561  15-07-2019  autumn   1  ...  11.166689    1920        4111  6031
650      651  13-10-2019  winter   1  ...   9.791514    2252        4857  7109
427      428  04-03-2019  spring   1  ...  22.416257     710        2713  3423

[6 rows x 16 columns]

# MODIFICACIONES EN NUESTRAS COLUMNAS:

# 1. Fecha:
- Tenemos "yr" (año) y "mnth" (mes) y obtenemos "day" a través de la separación de "dteday", que posteriormente eliminaremos:

In [109]:
df_bike["day"] = df_bike["dteday"].str.split(pat= "-", n = -1, expand = True)[0]

In [110]:
df_bike=df_bike.reindex(columns=['instant', 'dteday', 'season', 'yr', 'mnth','day', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'])

In [111]:
df_bike.head()

   instant      dteday  season  yr  ...  windspeed casual  registered   cnt
0        1  01-01-2018  spring   0  ...  10.749882    331         654   985
1        2  02-01-2018  spring   0  ...  16.652113    131         670   801
2        3  03-01-2018  spring   0  ...  16.636703    120        1229  1349
3        4  04-01-2018  spring   0  ...  10.739832    108        1454  1562
4        5  05-01-2018  spring   0  ...  12.522300     82        1518  1600

[5 rows x 17 columns]

------

# 2. Columna "season"
- Corregir de acuerdo con las fechas.

In [112]:
df_bike['dteday'] = df_bike['dteday'].apply(pd.to_datetime)

In [113]:
def meses(x):
    a = x.month

    if  a >= 1 and a<=3:
        return 'winter'
    elif a >= 4 and a<=6:
        return 'spring'
    elif a >= 7 and a<=9:
        return 'summer'
    else:
        return 'autumn'

In [114]:
df_bike['season'] = df_bike['dteday'].apply(meses)

In [115]:
df_bike.sample(5)

     instant     dteday  season  yr  ...  windspeed casual  registered   cnt
99       100 2018-10-04  autumn   0  ...   9.833389   1188        1707  2895
339      340 2018-06-12  spring   0  ...  15.583061    126        2468  2594
619      620 2019-12-09  autumn   1  ...   8.833682   1050        6820  7870
152      153 2018-02-06  winter   0  ...  19.583229    736        4232  4968
267      268 2018-09-25  summer   0  ...   3.375406   1544        3466  5010

[5 rows x 17 columns]

 - Encoding numérico para la columna season

In [116]:
scale_mapper = {"winter":1, "spring":3, "summer":4, 'autumn':2}

df_bike['season_encoding'] = df_bike["season"].replace(scale_mapper)

--------

# 8. "weathersit": 
- 1: Clear, Few clouds, Partly cloudy, Partly cloudy
- 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
- 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
- 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog

In [117]:
scale_mapper_1 = {"1":3, "2":2, "3":1, '4':1}

In [118]:
df_bike['weathersit'] = df_bike["weathersit"].replace(scale_mapper_1)

---

# 9. Temperatura y Humedad

### Hay que hacer encoding con etiquetas para las graficas

In [119]:
df_bike.head(2)

   instant     dteday  season  yr  ...  casual registered  cnt  season_encoding
0        1 2018-01-01  winter   0  ...     331        654  985                1
1        2 2018-02-01  winter   0  ...     131        670  801                1

[2 rows x 18 columns]

In [120]:
df_bike[['temp','atemp','hum']] = df_bike[['temp','atemp','hum']].round(1)

###  Codificando variables

In [121]:
df_bike["temp_interval"] = pd.cut(df_bike["temp"], 5,labels = ["very_low", "low", "medium", "high", "very_high"], ordered=True)

In [122]:
df_bike["temp_interval_num"] = pd.cut(df_bike["temp"], 5, ordered=True)

In [123]:
df_bike["hum_interval"] = pd.cut(df_bike["hum"], 5,labels = ["very_low", "low", "medium", "high", "very_high"], ordered=True)

In [124]:
df_bike["hum_interval_num"] = pd.cut(df_bike["hum"], 5, ordered=True)

In [125]:
df_bike.head()

   instant     dteday  season  ...  temp_interval_num  hum_interval hum_interval_num
0        1 2018-01-01  winter  ...      (8.98, 15.56]     very_high    (77.76, 97.2]
1        2 2018-02-01  winter  ...      (8.98, 15.56]          high   (58.32, 77.76]
2        3 2018-03-01  winter  ...      (2.367, 8.98]        medium   (38.88, 58.32]
3        4 2018-04-01  spring  ...      (2.367, 8.98]          high   (58.32, 77.76]
4        5 2018-05-01  spring  ...      (8.98, 15.56]        medium   (38.88, 58.32]

[5 rows x 22 columns]

### Voy a hacer un ordinal encoding

In [126]:
from sklearn.preprocessing import OrdinalEncoder
orden = ["very_low", "low", "medium", "high", "very_high"] # Ordena

In [127]:
def ordinal_encoder(df, columna, orden_valores):
    
    # nos creamos un diccionario vacío para hacer el map después. 
    ordinal_dict = {}
    
    # iteramos por nuestra lista de valores usando el enumerate que recordamos nos devolvía también el índice o posición de cada elemento
    for i, valor in enumerate(orden_valores):
        ordinal_dict[valor]=i+1 # le sumamos uno a la posición para no tener valores de 0. 
    
    # aplicamos el map
    df[columna+"_ord"] = df[columna].map(ordinal_dict)
    return df

In [128]:
ordinal_encoder(df_bike, "temp_interval", orden)

     instant     dteday  season  ...  hum_interval  hum_interval_num temp_interval_ord
0          1 2018-01-01  winter  ...     very_high     (77.76, 97.2]                 2
1          2 2018-02-01  winter  ...          high    (58.32, 77.76]                 2
2          3 2018-03-01  winter  ...        medium    (38.88, 58.32]                 1
3          4 2018-04-01  spring  ...          high    (58.32, 77.76]                 1
4          5 2018-05-01  spring  ...        medium    (38.88, 58.32]                 2
..       ...        ...     ...  ...           ...               ...               ...
725      726 2019-12-27  autumn  ...          high    (58.32, 77.76]                 2
726      727 2019-12-28  autumn  ...          high    (58.32, 77.76]                 2
727      728 2019-12-29  autumn  ...          high    (58.32, 77.76]                 2
728      729 2019-12-30  autumn  ...        medium    (38.88, 58.32]                 2
729      730 2019-12-31  autumn  ...        medium    (38.88, 58.32]                 1

[730 rows x 23 columns]

    Humedad

In [129]:
get_dummies= pd.get_dummies(df_bike["hum_interval"], prefix="hum",prefix_sep="_")

In [130]:
df_bike = pd.concat([df_bike, get_dummies], axis=1)

In [131]:
df_bike.head()

   instant     dteday  season  yr  ...  hum_low hum_medium  hum_high  hum_very_high
0        1 2018-01-01  winter   0  ...        0          0         0              1
1        2 2018-02-01  winter   0  ...        0          0         1              0
2        3 2018-03-01  winter   0  ...        0          1         0              0
3        4 2018-04-01  spring   0  ...        0          0         1              0
4        5 2018-05-01  spring   0  ...        0          1         0              0

[5 rows x 28 columns]

---

# 10. "Windspeed": encoding

### Se ponen etiquetas a viento

In [132]:
df_bike['wind_interval'] = pd.cut(df_bike['windspeed'], 5, labels=["very_low", "low", "medium", "high", "very_high"], ordered=True)

In [133]:
df_bike['wind_interval'] = df_bike['wind_interval'].astype('object')

### Encoding numérico para la columna wind

In [134]:
scale_mapper = {"very_low":4, "low":3, "medium":2, 'high':1, 'very_high':1}

df_bike['wind_num_encoding'] = df_bike["wind_interval"].replace(scale_mapper)

In [135]:
df_bike.head(2)

   instant     dteday  season  ...  hum_very_high  wind_interval wind_num_encoding
0        1 2018-01-01  winter  ...              1            low                 3
1        2 2018-02-01  winter  ...              0         medium                 2

[2 rows x 30 columns]

In [136]:
df_bike.to_csv('bike_columnas_modificadas.csv')